name: Test

on:
  pull_request: {}
  push:
    branches: main

jobs:
  test:
    strategy:
      matrix:
        python-version: ['3.13']
        os: [ubuntu-latest]

    name: Python ${{ matrix.os }} ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - run: pixi install -e dev --locked
      - run: pixi run fmt
      - run: pixi run lint
      - run: pixi run types
      - run: pixi run test --cov --cov-report=xml

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
